In [2]:
# Importing dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import pymongo

In [3]:
# Creating connection to client
conn  = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [4]:
# Reading in dataframe
train_df = pd.DataFrame(list(client.titanic.train.find()))
train_df

,_id,PassengerId,Survived,Pclass,last_name,first_name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Deck
0,6503d99734057b3622c141fd,1,0,3,Braund,Mr Owen Harris,male,22.0,1,0,A/5 21171,7.25,S,"D,E,F,G"
1,6503d99734057b3622c141fe,2,1,1,Cumings,Mrs John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C,"A,B,C,D,E"
2,6503d99734057b3622c141ff,3,1,3,Heikkinen,Miss Laina,female,26.0,0,0,STON/O2. 3101282,7.925,S,"D,E,F,G"
3,6503d99734057b3622c14200,4,1,1,Futrelle,Mrs Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1,S,"A,B,C,D,E"
4,6503d99734057b3622c14201,5,0,3,Allen,Mr William Henry,male,35.0,0,0,373450,8.05,S,"D,E,F,G"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,6503d99734057b3622c14571,887,0,2,Montvila,Rev Juozas,male,27.0,0,0,211536,13.0,S,"D,E,F,G"
885,6503d99734057b3622c14572,888,1,1,Graham,Miss Margaret Edith,female,19.0,0,0,112053,30.0,S,"A,B,C,D,E"
886,6503d99734057b3622c14573,889,0,3,Johnston,Miss Catherine Helen Carrie,female,7.0,1,2,W./C. 6607,23.45,S,"D,E,F,G"
887,6503d99734057b3622c14574,890,1,1,Behr,Mr Karl Howell,male,26.0,0,0,111369,30.0,C,"A,B,C,D,E"
888,6503d99734057b3622c14575,891,0,3,Dooley,Mr Patrick,male,32.0,0,0,370376,7.75,Q,"D,E,F,G"

In [5]:
# Dropping non-beneficial ID columns
train_df_dropped = train_df.drop(['_id', 'PassengerId', 'last_name', 'first_name', 'Ticket'], axis=1)
train_df_dropped

    Survived Pclass     Sex   Age SibSp Parch     Fare Embarked       Deck
0          0      3    male  22.0     1     0     7.25        S    D,E,F,G
1          1      1  female  38.0     1     0  71.2833        C  A,B,C,D,E
2          1      3  female  26.0     0     0    7.925        S    D,E,F,G
3          1      1  female  35.0     1     0     53.1        S  A,B,C,D,E
4          0      3    male  35.0     0     0     8.05        S    D,E,F,G
..       ...    ...     ...   ...   ...   ...      ...      ...        ...
884        0      2    male  27.0     0     0     13.0        S    D,E,F,G
885        1      1  female  19.0     0     0     30.0        S  A,B,C,D,E
886        0      3  female   7.0     1     2    23.45        S    D,E,F,G
887        1      1    male  26.0     0     0     30.0        C  A,B,C,D,E
888        0      3    male  32.0     0     0     7.75        Q    D,E,F,G

[889 rows x 9 columns]

In [6]:
# Looking at the number of unique values in each column for train_df
train_df_dropped.nunique()

Survived      2
Pclass        3
Sex           2
Age          89
SibSp         7
Parch         7
Fare        248
Embarked      3
Deck          2
dtype: int64

In [7]:
# Converting categorical data to numeric with `pd.get_dummies`
train_dummies_df = pd.get_dummies(train_df_dropped)
train_dummies_df

,Survived_0,Survived_1,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Age_0.42,Age_0.67,Age_0.75,...,Fare_9.8417,Fare_9.8458,Fare_90.0,Fare_91.0792,Fare_93.5,Embarked_C,Embarked_Q,Embarked_S,"Deck_A,B,C,D,E","Deck_D,E,F,G"
0,True,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,True
1,False,True,True,False,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
2,False,True,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
3,False,True,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
4,True,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,True,False,False,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,True
885,False,True,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
886,True,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
887,False,True,True,False,False,False,True,False,False,False,...,False,False,False,False,False,True,False,False,True,False
888,True,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,True

In [5]:
# Spltting preprocessed data into features and target arrays
X = train_dummies_df.copy()
X.drop('Survived', axis=1, inplace=True)
y = train_dummies_df['Survived']

# Splitting data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=7)

In [6]:
# Creating a StandardScaler instance
scaler = StandardScaler()

# Fiting the StandardScaler
X_scaler = scaler.fit(X_train)

# Scaling the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
# Defining the model - deep neural net aka the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer_1 = 8
hidden_nodes_layer_2 = 5

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer_1, input_dim=number_input_features, activation='relu'))
# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer_2, activation='relu'))
# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Checking the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 104

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 155 (620.00 Byte)
Trainable params: 155 (620.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [8]:
# Compiling the model
nn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [9]:
# Train the model
nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
21/21 [==============================] - 0s 792us/step - loss: 0.6665 - accuracy: 0.6186
Epoch 2/100
21/21 [==============================] - 0s 628us/step - loss: 0.6452 - accuracy: 0.7492
Epoch 3/100
21/21 [==============================] - 0s 675us/step - loss: 0.6244 - accuracy: 0.7688
Epoch 4/100
21/21 [==============================] - 0s 647us/step - loss: 0.6043 - accuracy: 0.7883
Epoch 5/100
21/21 [==============================] - 0s 686us/step - loss: 0.5819 - accuracy: 0.8003
Epoch 6/100
21/21 [==============================] - 0s 602us/step - loss: 0.5597 - accuracy: 0.8018
Epoch 7/100
21/21 [==============================] - 0s 615us/step - loss: 0.5370 - accuracy: 0.8078
Epoch 8/100
21/21 [==============================] - 0s 648us/step - loss: 0.5156 - accuracy: 0.8078
Epoch 9/100
21/21 [==============================] - 0s 664us/step - loss: 0.4960 - accuracy: 0.8093
Epoch 10/100
21/21 [==============================] - 0s 676us/step - loss: 0.4789 - accuracy: 0.8048
Epoch 11/100
21/21 [==============================] - 0s 647us/step - loss: 0.4637 - accuracy: 0.8033
Epoch 12/100
21/21 [==============================] - 0s 621us/step - loss: 0.4516 - accuracy: 0.8063
Epoch 13/100
21/21 [==============================] - 0s 702us/step - loss: 0.4429 - accuracy: 0.8078
Epoch 14/100
21/21 [==============================] - 0s 677us/step - loss: 0.4357 - accuracy: 0.8078
Epoch 15/100
21/21 [==============================] - 0s 635us/step - loss: 0.4300 - accuracy: 0.8078
Epoch 16/100
21/21 [==============================] - 0s 654us/step - loss: 0.4264 - accuracy: 0.8093
Epoch 17/100
21/21 [==============================] - 0s 676us/step - loss: 0.4232 - accuracy: 0.8108
Epoch 18/100
21/21 [==============================] - 0s 606us/step - loss: 0.4202 - accuracy: 0.8183
Epoch 19/100
21/21 [==============================] - 0s 675us/step - loss: 0.4177 - accuracy: 0.8213
Epoch 20/100
21/21 [==============================] - 0s 673us/step - loss: 0.4161 - accuracy: 0.8183
Epoch 21/100
21/21 [==============================] - 0s 614us/step - loss: 0.4139 - accuracy: 0.8213
Epoch 22/100
21/21 [==============================] - 0s 675us/step - loss: 0.4124 - accuracy: 0.8168
Epoch 23/100
21/21 [==============================] - 0s 638us/step - loss: 0.4103 - accuracy: 0.8228
Epoch 24/100
21/21 [==============================] - 0s 639us/step - loss: 0.4086 - accuracy: 0.8213
Epoch 25/100
21/21 [==============================] - 0s 610us/step - loss: 0.4063 - accuracy: 0.8243
Epoch 26/100
21/21 [==============================] - 0s 677us/step - loss: 0.4047 - accuracy: 0.8243
Epoch 27/100
21/21 [==============================] - 0s 628us/step - loss: 0.4037 - accuracy: 0.8258
Epoch 28/100
21/21 [==============================] - 0s 586us/step - loss: 0.4023 - accuracy: 0.8258
Epoch 29/100
21/21 [==============================] - 0s 626us/step - loss: 0.4012 - accuracy: 0.8273
Epoch 30/100
21/21 [==============================] - 0s 621us/step - loss: 0.4007 - accuracy: 0.8258
Epoch 31/100
21/21 [==============================] - 0s 653us/step - loss: 0.4003 - accuracy: 0.8303
Epoch 32/100
21/21 [==============================] - 0s 574us/step - loss: 0.3992 - accuracy: 0.8288
Epoch 33/100
21/21 [==============================] - 0s 675us/step - loss: 0.3985 - accuracy: 0.8243
Epoch 34/100
21/21 [==============================] - 0s 652us/step - loss: 0.3985 - accuracy: 0.8243
Epoch 35/100
21/21 [==============================] - 0s 687us/step - loss: 0.3970 - accuracy: 0.8258
Epoch 36/100
21/21 [==============================] - 0s 659us/step - loss: 0.3966 - accuracy: 0.8273
Epoch 37/100
21/21 [==============================] - 0s 636us/step - loss: 0.3966 - accuracy: 0.8273
Epoch 38/100
21/21 [==============================] - 0s 641us/step - loss: 0.3954 - accuracy: 0.8288
Epoch 39/100
21/21 [==============================] - 0s 612us/step - loss: 0.3950 - accuracy: 0.8348
Epoch 40/100
21/21 [==============================] - 0s 626us/step - loss: 0.3942 - accuracy: 0.8363
Epoch 41/100
21/21 [==============================] - 0s 632us/step - loss: 0.3931 - accuracy: 0.8348
Epoch 42/100
21/21 [==============================] - 0s 653us/step - loss: 0.3944 - accuracy: 0.8378
Epoch 43/100
21/21 [==============================] - 0s 623us/step - loss: 0.3935 - accuracy: 0.8363
Epoch 44/100
21/21 [==============================] - 0s 608us/step - loss: 0.3916 - accuracy: 0.8348
Epoch 45/100
21/21 [==============================] - 0s 628us/step - loss: 0.3916 - accuracy: 0.8363
Epoch 46/100
21/21 [==============================] - 0s 664us/step - loss: 0.3908 - accuracy: 0.8363
Epoch 47/100
21/21 [==============================] - 0s 667us/step - loss: 0.3903 - accuracy: 0.8363
Epoch 48/100
21/21 [==============================] - 0s 677us/step - loss: 0.3903 - accuracy: 0.8363
Epoch 49/100
21/21 [==============================] - 0s 665us/step - loss: 0.3902 - accuracy: 0.8378
Epoch 50/100
21/21 [==============================] - 0s 685us/step - loss: 0.3896 - accuracy: 0.8378
Epoch 51/100
21/21 [==============================] - 0s 607us/step - loss: 0.3886 - accuracy: 0.8363
Epoch 52/100
21/21 [==============================] - 0s 646us/step - loss: 0.3890 - accuracy: 0.8348
Epoch 53/100
21/21 [==============================] - 0s 620us/step - loss: 0.3883 - accuracy: 0.8363
Epoch 54/100
21/21 [==============================] - 0s 626us/step - loss: 0.3882 - accuracy: 0.8378
Epoch 55/100
21/21 [==============================] - 0s 589us/step - loss: 0.3892 - accuracy: 0.8378
Epoch 56/100
21/21 [==============================] - 0s 626us/step - loss: 0.3873 - accuracy: 0.8363
Epoch 57/100
21/21 [==============================] - 0s 638us/step - loss: 0.3869 - accuracy: 0.8363
Epoch 58/100
21/21 [==============================] - 0s 622us/step - loss: 0.3867 - accuracy: 0.8363
Epoch 59/100
21/21 [==============================] - 0s 675us/step - loss: 0.3870 - accuracy: 0.8393
Epoch 60/100
21/21 [==============================] - 0s 649us/step - loss: 0.3863 - accuracy: 0.8393
Epoch 61/100
21/21 [==============================] - 0s 659us/step - loss: 0.3863 - accuracy: 0.8408
Epoch 62/100
21/21 [==============================] - 0s 643us/step - loss: 0.3858 - accuracy: 0.8408
Epoch 63/100
21/21 [==============================] - 0s 626us/step - loss: 0.3861 - accuracy: 0.8393
Epoch 64/100
21/21 [==============================] - 0s 654us/step - loss: 0.3855 - accuracy: 0.8393
Epoch 65/100
21/21 [==============================] - 0s 669us/step - loss: 0.3855 - accuracy: 0.8393
Epoch 66/100
21/21 [==============================] - 0s 602us/step - loss: 0.3851 - accuracy: 0.8423
Epoch 67/100
21/21 [==============================] - 0s 660us/step - loss: 0.3853 - accuracy: 0.8438
Epoch 68/100
21/21 [==============================] - 0s 625us/step - loss: 0.3847 - accuracy: 0.8438
Epoch 69/100
21/21 [==============================] - 0s 665us/step - loss: 0.3857 - accuracy: 0.8393
Epoch 70/100
21/21 [==============================] - 0s 638us/step - loss: 0.3845 - accuracy: 0.8423
Epoch 71/100
21/21 [==============================] - 0s 653us/step - loss: 0.3836 - accuracy: 0.8438
Epoch 72/100
21/21 [==============================] - 0s 638us/step - loss: 0.3841 - accuracy: 0.8438
Epoch 73/100
21/21 [==============================] - 0s 652us/step - loss: 0.3834 - accuracy: 0.8438
Epoch 74/100
21/21 [==============================] - 0s 638us/step - loss: 0.3854 - accuracy: 0.8408
Epoch 75/100
21/21 [==============================] - 0s 656us/step - loss: 0.3828 - accuracy: 0.8423
Epoch 76/100
21/21 [==============================] - 0s 650us/step - loss: 0.3832 - accuracy: 0.8423
Epoch 77/100
21/21 [==============================] - 0s 621us/step - loss: 0.3828 - accuracy: 0.8453
Epoch 78/100
21/21 [==============================] - 0s 919us/step - loss: 0.3829 - accuracy: 0.8438
Epoch 79/100
21/21 [==============================] - 0s 662us/step - loss: 0.3828 - accuracy: 0.8423
Epoch 80/100
21/21 [==============================] - 0s 623us/step - loss: 0.3828 - accuracy: 0.8423
Epoch 81/100
21/21 [==============================] - 0s 676us/step - loss: 0.3825 - accuracy: 0.8423
Epoch 82/100
21/21 [==============================] - 0s 676us/step - loss: 0.3825 - accuracy: 0.8438
Epoch 83/100
21/21 [==============================] - 0s 676us/step - loss: 0.3823 - accuracy: 0.8438
Epoch 84/100
21/21 [==============================] - 0s 651us/step - loss: 0.3815 - accuracy: 0.8438
Epoch 85/100
21/21 [==============================] - 0s 729us/step - loss: 0.3826 - accuracy: 0.8423
Epoch 86/100
21/21 [==============================] - 0s 676us/step - loss: 0.3815 - accuracy: 0.8438
Epoch 87/100
21/21 [==============================] - 0s 702us/step - loss: 0.3820 - accuracy: 0.8438
Epoch 88/100
21/21 [==============================] - 0s 712us/step - loss: 0.3812 - accuracy: 0.8453
Epoch 89/100
21/21 [==============================] - 0s 702us/step - loss: 0.3812 - accuracy: 0.8438
Epoch 90/100
21/21 [==============================] - 0s 675us/step - loss: 0.3811 - accuracy: 0.8438
Epoch 91/100
21/21 [==============================] - 0s 726us/step - loss: 0.3806 - accuracy: 0.8438
Epoch 92/100
21/21 [==============================] - 0s 682us/step - loss: 0.3802 - accuracy: 0.8438
Epoch 93/100
21/21 [==============================] - 0s 676us/step - loss: 0.3798 - accuracy: 0.8438
Epoch 94/100
21/21 [==============================] - 0s 776us/step - loss: 0.3798 - accuracy: 0.8438
Epoch 95/100
21/21 [==============================] - 0s 820us/step - loss: 0.3796 - accuracy: 0.8438
Epoch 96/100
21/21 [==============================] - 0s 755us/step - loss: 0.3795 - accuracy: 0.8438
Epoch 97/100
21/21 [==============================] - 0s 779us/step - loss: 0.3795 - accuracy: 0.8438
Epoch 98/100
21/21 [==============================] - 0s 830us/step - loss: 0.3792 - accuracy: 0.8438
Epoch 99/100
21/21 [==============================] - 0s 853us/step - loss: 0.3786 - accuracy: 0.8453
Epoch 100/100
21/21 [==============================] - 0s 740us/step - loss: 0.3789 - accuracy: 0.8423

In [10]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

7/7 - 0s - loss: 0.5052 - accuracy: 0.7578 - 92ms/epoch - 13ms/step
Loss: 0.5052061080932617, Accuracy: 0.7578475475311279

In [11]:
# Exporting model to HDF5 file
nn_model.save('../Models/titanic_predictions.h5')

c:\Users\Mario Martinez\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(